---
layout: default
---

 <main>
 {% if {{page.url == '/'}} %}
   {% include intro.html %}
  {% endif %}

    <ul id="paginator-posts">
        {% for post in paginator.posts %}
          <li class="text-left">
            <h4>{{post.title}}</h4> {{post.date | date_to_long_string}}
            <br>
            <br> {{post.content | truncatewords: 30}}
              <li class="text-right">
                  <a href="{{site.baseurl}}{{ post.url }}">Read more ...</a>
              </li>
            </li>
          {% endfor %}
    </ul>

    <!-- Pagination links -->
    <div class="pagination text-center">
        {% if paginator.previous_page %}
        <a href="{{ site.baseurl }}/{{ paginator.previous_page_path }}" class="previous">Previous</a> {% else %}
        <span class="previous">Previous</span> {% endif %}
        <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span> {% if paginator.next_page %}
        <a href="{{ site.baseurl }}/{{ paginator.next_page_path }}" class="next">Next</a> {% else %}
        <span class="next ">Next</span> {% endif %}
</main>


<form action="{{ site.baseurl }}/search.html" method="get">
		<label class="text-center" for="search-box">Zoeken | Search</label>
		<input type="text" id="search-box" name="query">
		<input id="search" type="submit" value="search">
	</form>

  <script src="/js/lunr.min.js"></script>
  <script src="/js/search.js"></script>
