 <section>
    <h3 class="text-left more-padding-left-30">Recente foto's met een toelichting</h3>
    <p class="justify plain-link">
      <img src="{{site.baseurl}}/images/ned.png" alt="Dutch flag" class="icon-flag">
     Dit is een website voor fotoliefhebbers. Hier staan foto&apos;s die ik graag met u deel. Op deze blogpagina zet ik foto's van situaties die op dat moment mijn interesse opwekten. Onder <a href="{{ site.baseurl}}/portfolio/">portfolio</a> vindt u een paar categorie&euml;n die mij in het bijzonder inspireren. Over wat mij inspireert vertel ik in <a href="{{ site.baseurl}}/about/">About me</a>. Als u een reactie wilt achterlaten of in een foto speciaal ge&iuml;nteresseerd bent, <a href="{{ site.baseurl}}/contactt/">laat het mij weten</a>. Ik kan desgewenst voor een mooi cadeau of een passende wanddecoratie zorgen.
    </p>

    <p class="plain-link">
      <img src="{{site.baseurl}}/images/usuk.png" alt="US-UK flag" class="icon-flag">
      This is a website for photo enthusiasts.  (The explanations under the posts are bilingual). Here I like to share my favorite photos with you. On this blogpage I show images of recent situations that caught my interest. Returning themes can found in <a href="{{ site.baseurl}}/portfolio/">portfolio</a>. My take on photography is in <a href="{{ site.baseurl}}/about/">About me</a>. And I love to get in touch, so you contact me <a href="{{ site.baseurl}}/contactt/">here</a> if you like. I can optionally provide a nice gift or a suitable wall decoration.
    </p>
  </section>
