form {
  margin: $spacing-unit auto $spacing-unit * 2 auto;
  width: 100%;
  max-width: 50em;
}

fieldset {
  padding: $spacing-unit $spacing-unit * 2;
  border-color: $secondary-color;
  background-color: lighten($secondary-color, 23%);
}

label {
  display: block;
  margin: 0.25em 0;
  color: $text-color;
}

input {
  width: 100%;
  height: 1.5em;
  padding-left: 0.5em;
  padding-top: 0;
  font-size: 100%;
  background-color: #f8f2f6;
  border-radius: 6px;
  margin-bottom: 1.3em;
}

input#text[type=textarea] {
  height: 5em;
}

input#submit {
  margin-top: 1.25em;
  display: block;
  width: 30%;
  padding: $spacing-unit / 2;
  border-radius: 6px;
  line-height: 20%;
  background-color: $secondary-color;
  color: lighten($brand-color, 10%);
}

@media screen and(max-width: 1000px) {
  input#submit{
    width: 50%;
  }
}

@media screen and(max-width: 460px) {
  input#submit{
    width: 100%;
  }
}

input#submit:hover,
input#submit:focus {
  background-color: lighten($brand-color, 50%);
  color: $text-color;
}

//SEARCH form

form.search {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 60px;
}

input#search {
  width: 60%;
  height: 2.5em;
  margin-left: 50%;
  transform: translateX(-50%);
  border: 1px solid $brand-color;
  background-color: $secondary-color;
}

ul#search-results {
  margin: 0 auto;
}

ul#search-results li {
  list-style-type: none;
}

@media screen and (max-width: 800px) {
  form.search {
    width: 70%;
    padding-top: 30px;
  }
}
