---
layout: default
---

<section class="post"> 
  
 <h4 class="more-padding-left-30">{{ page.title }}</h4>
 
  {{content}}

<ul class="bottom-post-nav">
  {% if page.previous%}<li class="previous bottom-nav-post"><a href="{{ site.baseurl }}/{{page.previous.url}}"><<span>&laquo;&nbsp;Older post:</span><br>{{ site.baseurl }}/{{page.previous.title}}</a></li>{% endif %}

  {% if page.next%}<li class="next bottom-nav-post"><a href="{{ site.baseurl }}/{{page.next.url}}"><span>&raquo;&nbsp;Newer post:</span><br>{{ site.baseurl }}/{{page.next.title}}</a></li>{% endif %}
</ul>

</section>